# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
media/
staticfiles/

# Env
.env
env/
venv/
venv.bak/

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Node
node_modules/

# Logs
*.log

# OneDrive temp files
~$*
*.tmp
